@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

/* GLBOAL */
:root {
  --black: #353535;
  --white: #ffffff;
  --gray: #d9d9d9;
  --blue: #284b63;
  --green: #3c6e71;
  --tag-box-color: rgba(255, 255, 255, 0.15);
  --tag-font-color: var(--white);
  --main-container-shadow: var(--white) 0px 0px 30px 4px;
  --main-item-shadow: var(--white) 0px 20px 30px -10px;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--white);
  text-decoration-line: none;
}

.hidden {
  display: none;
}

.material-symbols-outlined {
  font-size: 45px;
}

.material-symbols-outlined.rating {
  font-size: 25px;
}

body {
  background-image: url(../imgs/beautiful-shining-stars-night-sky.jpg);
  background-size: contain;
  height: 100vh;
  color: var(--white);
  font-family: "Open Sans", sans-serif;
  min-width: 500px;
}

/* ---------------------- */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  position: absolute;
  top: 0;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.15);
  /* box-shadow: var(--main-container-shadow); */
}

.movies-line {
  position: absolute;
  top: 18%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 500px;
  /* background-color: rgba(255, 255, 255, 0.15); */
  /* box-shadow: var(--main-container-shadow); */
}

header span {
  margin-right: 20px;
}

header div:first-child {
  display: flex;
  align-items: center;
  font-weight: 700;
}

header div:first-child span {
  color: var(--blue);
}

header h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
}

header div:last-child {
  color: var(--gray);
  font-size: 16px;
}

header .menu-icon span {
  color: rgba(255, 255, 255, 0.8);
}

header div:last-child span {
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.15);
  color: var(--white);
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}

/* ######################## */

.movies {
  perspective: 1200px;
  height: 800px;
  top: 6vh;
  width: 100vw;
  position: fixed;
  flex-wrap: wrap;
  overflow: hidden;
}

.movies-wrap {
  animation-play-state: running;
  animation: ani 50s linear infinite;
  height: 470px;
  width: 360px;
  left: 45%;
  position: absolute;
  top: 5%;
  transform: translate(-40%);
  transform-style: preserve-3d;
}

.movie {
  background-image: url(../imgs/3d-hyperspace-background-with-warp-tunnel-effect.jpg);
  /* border-radius: 15px; */
  position: absolute;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 600px;
  margin-bottom: 30px;
  padding: 30px;
  background-color: var(--black);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: var(--main-item-shadow);
  transition: 0.2s ease-in-out;
}

.movie:hover {
  width: 500px;
  height: 800px;
  position: absolute;
  left: -40px;
  top: -40px;
  border: 3px solid var(--gray);
}

.movie img {
  margin-bottom: 20px;
  width: 65%;
  position: absolute;
  top: -30px;
}

.movie h2 {
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  font-size: 23px;
  font-weight: 700;
  line-height: 1.3;
  padding: 10px 0;
  margin-top: 105%;
}

.movie:nth-child(1) {
  transform: rotateY(0deg) translateZ(-955px);
  backface-visibility: hidden;
}

.movie:nth-child(2) {
  transform: rotateY(30deg) translateZ(-955px);
  backface-visibility: hidden;
}

.movie:nth-child(3) {
  transform: rotateY(60deg) translateZ(-955px);
  backface-visibility: hidden;
}

.movie:nth-child(4) {
  transform: rotateY(90deg) translateZ(-955px);
  backface-visibility: hidden;
}

.movie:nth-child(5) {
  transform: rotateY(120deg) translateZ(-955px);
  backface-visibility: hidden;
}

.movie:nth-child(6) {
  transform: rotateY(150deg) translateZ(-955px);
  backface-visibility: hidden;
}

.movie:nth-child(7) {
  transform: rotateY(180deg) translateZ(-955px);
  backface-visibility: hidden;
}

.movie:nth-child(8) {
  transform: rotateY(210deg) translateZ(-955px);
  backface-visibility: hidden;
}

.movie:nth-child(9) {
  transform: rotateY(240deg) translateZ(-955px);
  backface-visibility: hidden;
}

.movie:nth-child(10) {
  transform: rotateY(270deg) translateZ(-955px);
  backface-visibility: hidden;
}

.movie:nth-child(11) {
  transform: rotateY(300deg) translateZ(-955px);
  backface-visibility: hidden;
}

.movie:nth-child(12) {
  transform: rotateY(330deg) translateZ(-955px);
  backface-visibility: hidden;
}

.genres {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.genre {
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.15);
  color: var(--white);
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}

@keyframes ani {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(1turn);
  }
}

@media (max-width: 800px) {
  header div:last-child {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}

.movie_detail {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.movie_background {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}

.movie_detail > div {
  background-color: var(--tag-box-color);
  padding: 30px;
  display: flex;
  box-shadow: var(--main-item-shadow);
}

.loading {
  padding: 30px;
  font-weight: 700;
  font-size: 25px;
  color: var(--tag-font-color);
}

.movie_content {
  padding: 50px;
}

.movie_content h2 {
  font-size: 40px;
  border-bottom: 1px solid var(--white);
  padding-bottom: 10px;
}

.info .info_rating {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.info_rating span:first-child {
  margin-right: 10px;
}

.info_rating span:last-child {
  font-size: 20px;
}

.movie_des {
  border: 1px solid var(--white);
  padding: 10px;
  /* box-shadow: var(--main-item-shadow); */
  line-height: 1.5;
  margin-top: 10px;
}
